---
import Layout from '../layouts/Layout.astro'
import Navbar from '../components/layout/Navbar'
import HeroSection from '../components/home/HeroSection'
import DestinationShowcase from '../components/home/DestinationShowcase'
import AboutSection from '../components/home/AboutSection'
import CTASection from '../components/home/CTASection'
import { BlogSection } from '../components/blog/BlogSection'
import Footer from '../components/layout/Footer'
import { getCollection } from 'astro:content'

const blogPosts = await getCollection('blog', ({ data }) => !data.draft)
import '../styles/global.css'

// Get GSC verification from environment (you'll add this later)
const gscVerification = import.meta.env.GOOGLE_SITE_VERIFICATION;
---

<Layout 
  title="#KaburAjaDulu | Jelajahi Peluang Internasional"
  gscVerification={gscVerification}
>
  <Navbar client:load />
  <main>
    <HeroSection client:load />
    <DestinationShowcase client:load />
    <AboutSection client:load />
    <BlogSection client:load posts={blogPosts} />
    <CTASection client:load />
  </main>
  <Footer client:load />
</Layout>
