@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-blue: #0055FF;
  --font-sans: var(--font-plus-jakarta-sans);
  --font-caveat: var(--font-caveat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

.font-caveat {
  font-family: var(--font-caveat), cursive;
}
